.cuenta-usuario {
    text-align: center;
    background: white;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    margin: 20px auto;
  }
  
  .avatar-container {
    margin-bottom: 2rem;
  }
  
  .cuenta-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #b38d4f;
  }
  
  h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1.5rem;
    text-align: left;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
  }
  
  .info-label {
    font-size: 1rem;
    color: #888;
    margin-bottom: 0.3rem;
    font-weight: bold;
  }
  
  .info-value {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
  }
  
  .info-input {
    padding: 0.6rem;
    font-size: 1rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .action-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
  }
  
  .cta-btn {
    padding: 0.8rem 1.5rem;
    background-color: #b38d4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .cta-btn:hover {
    background-color: #1a1205;
  }
  
  .cancelar {
    background-color: #ccc;
  }
  
  .cancelar:hover {
    background-color: #aaa;
  }
  