.areas-de-practica {
  padding: 60px 20px;
  background-color: var(--thm-base-hue);
  font-family: var(--thm-b-font);
  text-align: center;
}

.areas-de-practica h2 {
  font-family: var(--thm-font);
  font-size: 36px;
  color: var(--thm-secondary);
  margin-bottom: 20px;
}

.divider {
  margin: 0 auto 40px;
  width: 50px;
  height: 3px;
  background-color: var(--thm-base);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: var(--white);
  border: 1px solid var(--thm-border);
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  border-color: var(--thm-base);
  color: var(--thm-base-hover);
}

.card-image {
  position: relative;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.card-icon {
  position: absolute;
  bottom: -30px;
  right: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--thm-b-text);
  background-color: var(--white);
  font-size: 32px;
  border-radius: 50%;
  box-shadow: 0 0 40px 5px var(--thm-shadow-light);
}

.card:hover .card-icon {
  background-color: var(--thm-base-hover);
  color: var(--white);
}

.card-icon i {
  font-size: 30px;
  color: var(--gray-dark);
  line-height: 1;
  transition: 0.3s;
}

.card:hover .card-icon i {
  color: var(--white);
}

.card h3 {
  font-family: var(--thm-font);
  color: var(--thm-secondary);
  font-size: 20px;
  margin: 15px 0 10px;
}

.card p {
  color: var(--thm-b-text);
  font-size: 15px;
  line-height: 1.6;
}

.info-button {
  background-color: var(--thm-button-alt);
  color: var(--white);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px var(--thm-shadow-light);
}

.info-button:hover {
  background-color: var(--thm-button-alt-hover);
}
