.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  width: 490px;
  max-width: 100%;
  box-shadow: 0 4px 10px var(--thm-shadow-light);
}

.modal-content input,
.modal-content textarea,
.modal-content button {
  width: 90%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid var(--thm-input-border);
}

.modal-content input,
.modal-content textarea {
  font-size: 1rem;
}

.modal-content button {
  background-color: var(--thm-button-base);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: var(--thm-apply-hover);
}

.color-picker {
  margin-top: 15px;
}

.predefined-colors {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.color-swatch {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--thm-input-border);
}

.color-swatch:hover {
  border: 2px solid var(--thm-text-dark);
}

.apply-filter-btn {
  padding: 14px 20px;
  background-color: var(--thm-button-base);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.apply-filter-btn:hover {
  background-color: var(--thm-apply-hover);
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.button-container button {
  width: 48%;
}
