.highlights-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: var(--thm-secondary);
  color: var(--thm-footer-text);
}

.highlight-box {
  flex: 1 1 250px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: var(--thm-secondary-hover);
  border-radius: 10px;
  box-shadow: 0 4px 15px var(--thm-shadow-light);
}

.highlight-icon {
  font-size: 36px;
  color: var(--thm-button-base);
  margin-bottom: 10px;
}

.highlight-box h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: var(--thm-font);
}

.highlight-box p {
  font-size: 16px;
  color: var(--thm-footer-text);
  font-family: var(--thm-b-font);
}
